.row-margin {
  margin-top: 2px;
}
.column-no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.row-no-margin {
  margin-left: 0;
  margin-right: 0;
}
.s-layout-container {
  display: flex;
  flex-direction: column;
}
.dm-toolbar-withcontentarea {
  display: flex;
  flex-direction: row;
}
.s-layout-content {
  width: 100%;
}

.s-layout-header {
  height: 55px;
  background-color: #ffffff;
  border-bottom: solid 1px rgb(224, 221, 221);
  z-index: 10000;
}
.s-layout-header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 4px;
  background: linear-gradient(
    180deg,
    rgba(9, 30, 66, 0.13) 0,
    rgba(9, 30, 66, 0.13) 1px,
    rgba(9, 30, 66, 0.08) 1px,
    rgba(9, 30, 66, 0) 4px
  );
}

.s-layout-toolbar {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 55px);
  background-color: #ffffff;
  width: 50px;
  border-right: solid 1px #c4c8cf;
  background-color: #dbdcde;
  -webkit-box-shadow: inset 0px 2px 17px -7px rgba(196, 200, 207, 1);
  -moz-box-shadow: inset 0px 2px 17px -7px rgba(196, 200, 207, 1);
  box-shadow: inset 0px 2px 17px -7px rgba(196, 200, 207, 1);
  float: left;
}

.s-layout-toolbar div {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 10px 0px 10px 0px;
  align-items: center;
  justify-content: center;
}

.s-layout-toolbar i {
  font-size: 25px;
  color: darkslategray;
  cursor: pointer;
}

.active-toolbar-control {
  background-color: #ffffff;
  border-right: solid 4px #3999c6;
}

.comb-view i {
  font-size: 21px;
}

.s-layout-userinfo {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}
.slb-outer-wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid #a8a9b7;
  border-radius: 25px;
  max-height: 30px;
  padding: 1px 0px 2px 2px;
  cursor: pointer;
  padding-right: 25px;
  background-color: #3999c6;
}

.slb-icon,
.slb-content {
  font-size: 15px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.slb-content {
  padding: 2px 0px 0px 10px;
}
.slb-icon {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.slb-icon i {
  font-size: 25px;
}
.slb-arrow {
  margin-left: auto;
  padding-right: 10px;
  color: #585961;
  font-size: 15px;
}

.layour-title {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  align-items: center;
  justify-content: flex-start;

  font-size: 20px;
  font-weight: bold;
  color: #3999c6;
}
.layour-title img {
  height: 45px;
  width: 45px;
}
.header-info-panel {
  margin-top: 5px;
}
.header-info-panel > div {
  display: flex;
  flex-direction: column;
}
.info-header {
  margin-bottom: 0;
}
.header-info-section {
  border-right: solid 1px rgb(228, 228, 171);
}

.header-info-section label {
  font-size: 12px;
  color: #3999c6;
  font-weight: bold;
}

.dm-search-row {
  justify-content: center;
}

.preview-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.dm-preview-search {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.dm-preview-table {
  padding-top: 20px;
}
.dm-search-column {
  display: flex;
  width: 200px;
  height: 35px;
  border-bottom-left-radius: 23px;
  border-top-left-radius: 23px;
  background-color: #3999c6;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dm-search-box {
  border: solid 1px #c0c7bfc2;
  height: 35px;
  width: 100%;
  display: flex;
  padding-left: 3px;
}

.dm-seach-select {
  display: flex;
  text-decoration: none;
  color: white;
}

.dm-search-text {
  border: none;
  width: 95%;
}

.dm-search-box > input[type="text"]:focus {
  outline: none;
}
.dm-search-box > input[type="text"]::placeholder {
  opacity: 0.5;
}
.dm-search-icon {
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.search-arrow {
  padding-left: 10px;
}

.dm-search-menu {
  width: 200px;
  border-radius: 10px;
  border: solid 1px #b7aaaa;
  background-color: white;
  display: block;
  position: absolute;
  z-index: 1000;
  top: 78px;
  -webkit-box-shadow: 9px 3px 22px 2px rgba(183, 170, 170, 1);
  -moz-box-shadow: 9px 3px 22px 2px rgba(183, 170, 170, 1);
  box-shadow: 9px 3px 22px 2px rgba(183, 170, 170, 1);
}

.context-uparrow {
  width: 0px;
  height: 0px;
  border: solid 11px;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid transparent;
  border-bottom: 11px solid #b7aaaa;
  border-top-width: 2px;
}

.context-uparrow::after {
  content: "";
  position: relative;
  width: 0px;
  height: 0px;
  border: solid 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid white;
  left: -10px;
  top: -20px;
  z-index: 1001;
}
.dm-search-columnwithmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dm-search-menu ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
}

.dm-search-menu li {
  padding: 7px 0px 7px 15px;
  cursor: pointer;
}

.dm-preview-table {
  max-width: 95%;
  margin-left: 30px;
  overflow: auto;
}

.dm-preview-table .table {
  font-size: 13px;
}

.dm-preview-table .table th,
.dm-preview-table .table td {
  padding: 0.5rem;
}
.dm-preview-table thead {
  background-color: #e6e5e15c;
}
.dm-preview-table tbody {
  background-color: #f5f5dc54;
}
.dm-preview-table .table thead th {
  min-width: 125px;
}
.dm-preview-table th > i {
  float: right;
  padding-top: 3px;
  color: #93c52c;
  font-size: 16px;
}
