<div class="s-layout-container">
  <div class="row" style="margin-right: 0;">
    <div class="col-md-12 column-no-padding">
      <div class="s-layout-header">
        <div class="row" style="margin-right: 0;">
          <div class="col-md-3 layour-title">
            <img src="../../assets/images/data-map-logo.png">
            <div><span>Data Mapper</span></div>
          </div>
          <div class="col-md-7">
            <div class="row header-info-panel">
              <div class="col-md-3 header-info-section">
                <label class="info-header">Client</label>
                <div class="info-value">Pride Management</div>
              </div>
              <div class="col-md-3 header-info-section">
                <label class="info-header">Product</label>
                <div class="info-value">Partner Acquisition</div>
              </div>
              <div class="col-md-3 header-info-section">
                <label class="info-header">Account</label>
                <div class="info-value">Marketing</div>
              </div>
            </div>
          </div>
          <div class="col-md-2 column-no-padding s-layout-userinfo">
            <div class="slb-outer-wrapper">
              <div class="slb-icon">
                <i class="fa fa-user-circle"></i>
              </div>
              <div class="slb-content">
                <span>Gnaniyar, Sainudeen</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dm-toolbar-withcontentarea">
    <div class="s-layout-toolbar">
      <div>
        <i class="fa fa-upload"></i>
      </div>
      <div>
        <i class="fa fa-columns"></i>
      </div>
      <div class="comb-view active-toolbar-control">
        <i class="fa fa-columns"></i><i class="fa fa-eye"></i>
      </div>
    </div>
    <div class="s-layout-content">
      <div class="s-laoyout-tree" [style.width.%]="treeWidth">
        <div class="tree-dock-icon">
          <i [ngClass]="isTreeDocked ? 'fa fa-thumb-tack' : 'fa fa-thumb-tack fa-rotate-90'" (click)="dockTree()"></i>
        </div>
        <div class="section-tree">
          <ul class="ng-scope">
            <li class="tree-node">
              <a data-ng-if="!child.isNewNode" class="tree-item ng-scope"><i data-ng-class="nodeIcon(child)"
                  data-ng-click="nodeToggle(child)" class="fa fa-minus-circle"></i><span
                  class="ng-binding">Recipient</span></a>

              <ul class="ng-scope">
                <li class="tree-node">
                  <div class="tree-item-block">
                    <a class="tree-item"><i class="fa fa-file-o"></i><span class="ng-binding">MailingInfo</span></a>
                  </div>
                  <ul class="ng-scope">
                  </ul>
                </li>
                <li class="tree-node">
                  <div class="tree-item-block">
                    <a class="tree-item"><i class="fa fa-file-o"></i><span class="ng-binding">Extension</span></a>
                  </div>
                  <ul class="ng-scope">
                  </ul>

                </li>
                <li class="tree-node">
                  <div class="tree-item-block">
                    <a class="tree-item"><i class="fa fa-file-o"></i><span class="ng-binding">ProcessingData</span></a>
                  </div>
                  <ul class="ng-scope">

                  </ul>
                </li>
                <li class="tree-node active">
                  <div class="tree-item-block">
                    <a class="tree-item"><i class="fa fa-file-o"></i><span class="ng-binding">AdditionalInfo</span></a>
                    <div class="add-node ng-scope"><a class="add-node-icon"><i class="fa fa-plus"></i></a>

                    </div>
                    <div class="delete-node ng-scope"><a class="delete-node-icon"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <ul class="ng-scope">
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
      <div class="s-laoyout-mapping-view">
        <div class="s-layout-mapping" [style.height.%]="mappingHeight">
          <div class="dm-mapping-container">
            <div class="dm-mapping-section-heading">
              <div class="dm-mapping-title"><span>Additional Info</span></div>
              <div class="dm-mapping-buttons">
                <button>
                  <i class="fa fa-plus-circle"></i>
                  <span> Add Rule</span>
                </button>
                <button>
                  <i class="fa fa-plus-circle"></i>
                  <span> Add Element</span>
                </button>
              </div>
            </div>
            <div class="dm-mapping-tabsection">
              <div class="dm-mapping-tabs">
                <div class="dm-tab active">Field Mapping</div>
                <div class="dm-tab">Rule Management</div>
              </div>
            </div>
            <div class="dm-mapping-area">
              <div class="dm-mapping-columns">
                <div class="row row-no-margin">
                  <div class="col-md-4"><span>Destination</span></div>
                  <div class="col-md-4"><span>Source</span></div>
                </div>
              </div>
              <div class="dm-mapping-rows">
                <div class="row row-no-margin">
                  <div class="col-md-4">
                    <div class="contorl-header">
                      <div class="input-box"><input type="text"></div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="contorl-header">
                      <div class="input-box"><input type="text"></div>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div class="dm-mapping-delete">
                      <i class="fa fa-trash"></i>
                    </div>
                  </div>
                </div>
                <div class="row row-no-margin">
                  <div class="col-md-4">
                    <div class="contorl-header">
                      <div class="input-box"><input type="text"></div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="contorl-header">
                      <div class="input-box"><input type="text"></div>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div class="dm-mapping-delete">
                      <i class="fa fa-trash"></i>
                    </div>
                  </div>
                </div>
                <div class="row row-no-margin">
                  <div class="col-md-4">
                    <div class="contorl-header">
                      <div class="input-box"><input type="text"></div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="contorl-header">
                      <div class="input-box"><input type="text"></div>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div class="dm-mapping-delete">
                      <i class="fa fa-trash"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dm-mapping-actions">
              <div class="dm-mapping-buttons">
                <button>
                  <i class="fa fa-shopping-bag"></i>
                  <span> Create Order</span>
                </button>
                <button>
                  <i class="fa fa-download"></i>
                  <span> Download Mock XML</span>
                </button>

                <button>
                  <i class="fa fa-download"></i>
                  <span> Download Schema</span>
                </button>
                <button class="dm-save-button">
                  <i class="fa fa-floppy-o"></i>
                  <span> Save Mappings</span>
                </button>

              </div>
            </div>
          </div>
        </div>
        <div class="s-layout-preview">
          <div class="preview-dock-icon">
            <i [ngClass]="isPreviewDocked ? 'fa fa-thumb-tack' : 'fa fa-thumb-tack fa-rotate-90'"
              (click)="dockPreview()"></i>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
