<div>
  <div class="container">
    <app-header></app-header>
    <div class="row">
      <div class="col-md-12">
          <div class="caption-section">
              <span class="caption-brand">Proffesional Property Management Consultant in Hyderabad</span><br>
              <span class="caption-intro">for inspection, assesment, repair, refurbisment, legal advice</span>
            </div>
            <div class="demo-section">
                <button class="btn button-demo">Book a Demo</button>
              </div>
        <div class="video-property" id="visor-video">
          <iframe width="100%" height="500" [src]="displayUrl"> </iframe>
        </div>
      </div>
    </div>

    <div class="row">

    </div>
  </div>
</div>
