<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="hrx-section-header">
        <span>Get to know us better</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="hrx-section-detail">
        <span>Happy to answer any question or want to know more about us.</span>
      </div>
    </div>
  </div>
  <div class="row homerx-justify-center">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Your Name" />
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Phone Number" />
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Email" />
      </div>
    </div>
  </div>
  <div class="row homerx-justify-center">
    <div class="col-md-9 col-sm-12 col-xs-12">
      <div class="form-group">
        <textarea class="form-control" rows=5 placeholder="Let us know how can we help you..."></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="feedback-button"><button class="btn button-homerx-primary"> Submit </button></div>
    </div>
  </div>
</div>
