<div class="homerx-container">

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="hrx-section-header">
        <span>What our landlords say about us</span>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="hrx-section-detail">
          <span>Our esteemed customer always backing us and keep in touch with us as a family members. Here is what their opinion about us</span>
        </div>
      </div>
    </div>
  <div class="row centered-item">
    <div class="col-md-12">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>
