<div class="s-layout-container">
  <div class="row" style="margin-right: 0;">
    <div class="col-md-12 column-no-padding">
      <div class="s-layout-header">
        <div class="row" style="margin-right: 0;">
          <div class="col-md-3 layour-title">
            <img src="../../assets/images/data-map-logo.png">
            <div><span>Data Mapper</span></div>
          </div>
          <div class="col-md-7">
            <div class="row header-info-panel">
              <div class="col-md-3 header-info-section">
                <label class="info-header">Client</label>
                <div class="info-value">Pride Management</div>
              </div>
              <div class="col-md-3 header-info-section">
                <label class="info-header">Product</label>
                <div class="info-value">Partner Acquisition</div>
              </div>
              <div class="col-md-3 header-info-section">
                <label class="info-header">Account</label>
                <div class="info-value">Marketing</div>
              </div>
            </div>
          </div>
          <div class="col-md-2 column-no-padding s-layout-userinfo">
            <div class="slb-outer-wrapper">
              <div class="slb-icon">
                <i class="fa fa-user-circle"></i>
              </div>
              <div class="slb-content">
                <span>Gnaniyar, Sainudeen</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="s-layout-toolbar">
    <div>
      <i class="fa fa-upload"></i>
    </div>
    <div>
      <i class="fa fa-columns"></i>
    </div>
    <div class="comb-view active-toolbar-control">
      <i class="fa fa-columns"></i><i class="fa fa-eye"></i>
    </div>
  </div>
  <div class="row row-margin">
    <div class="col-md-3 column-no-padding">
      <div class="s-laoyout-tree">

      </div>
    </div>
    <div class="col-md-9 column-no-padding">
      <div class="s-layout-mapping">

      </div>
      <div class="s-layout-preview">

      </div>
    </div>
  </div>
</div>
