<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-12">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-header"><span>About Us</span></div>
          <div class="home-section-detail">
            <span>HomeRxcase is professional and property management firm having its head office in Hyderabad.
              Telengana is one among the fastest growing company. Started by gropup of professionals with expertise in
              facility management service and real estate investment. We take complete care of your investent at all
              levels
              from inspection to negotiation to follow-up to mainteanace and much more. Our customer thank us for first
              of its
              kind service by experts at fair Price</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-header"><span>Values </span></div>
          <div class="home-section-detail">
            <span>Provide our clients/property owners with a genuine report along
              with the pictures so they know their investments is in good hands.
              Clear and consistent communication. You will never wonder what is
              going on with your investment. Our #1 priority is reporting what
              you need to see to make a wise decision. Preservation of your
              property in complete professional and conventional way Out name
              speaks. We are committed to save your future occurring
              expenses</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-header"><span>Team </span></div>
          <div class="home-section-detail">
            <div class="row">
              <div class="col-md-3 col-6">
                <img src="../../assets/Team-memeber-01.png">
                <div class="home-footer-m-name centered-item">
                  <span>Joe, Matt</span>
                </div>
                <div class="home-footer-m-designation centered-item">
                  <span>Manager</span>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <img src="../../assets/Team-memeber-02.png">
                <div class="home-footer-m-name centered-item">
                  <span>Parker, Sarah</span>
                </div>
                <div class="home-footer-m-designation centered-item">
                  <span>HR Manager</span>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <img src="../../assets/Team-memeber-03.png">
                <div class="home-footer-m-name centered-item">
                    <span>John, Emily</span>
                  </div>
                  <div class="home-footer-m-designation centered-item">
                    <span>Bussiness Analyst</span>
                  </div>
              </div>
              <div class="col-md-3 col-6">
                <img src="../../assets/Team-memeber-04.png">
                <div class="home-footer-m-name centered-item">
                    <span>Richard, Dave</span>
                  </div>
                  <div class="home-footer-m-designation centered-item">
                    <span>Sales Manager</span>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-12">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-header"><span>Site Navigation</span></div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-link"><a href="#">Home</a></div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-link"><a href="#">About Us</a></div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-link"><a href="#">Services</a></div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-link"><a href="#">Price/Packages</a></div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-link"><a href="#">Gallery</a></div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-link"><a href="#">Our Clients</a></div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-link"><a href="#">Our Reports</a></div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-link"><a href="#">News & Media</a></div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-link"><a href="#">Career</a></div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-link"><a href="#">Referral</a></div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-link"><a href="#">Legal</a></div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-link">
            <a href="#">Terms & Conditions</a>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-link"><a href="#">Privacy Policy</a></div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="home-section-link"><a href="#">Payment Terms</a></div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-12">
      <div class="home-section-header"><span>Contact Us</span></div>
      <div class="footer-section-detail">111, street Name</div>
      <div class="footer-section-detail">City Name - Pin code,</div>
      <div class="footer-section-detail">State,</div>
      <div class="footer-section-detail">Country</div>
      <div class="footer-section-detail"><i class="fa fa-phone-square"></i> +91 0000000000</div>
      <br />
      <div class="footer-section-detail">111, street Name</div>
      <div class="footer-section-detail">City Name - Pin code,</div>
      <div class="footer-section-detail">State,</div>
      <div class="footer-section-detail">Country</div>
      <div class="footer-section-detail"><i class="fa fa-phone-square"></i> +91 0000000000</div>
      <br />
      <div class="footer-section-detail"><i class="fa fa-envelope"></i> sales@email.com</div>
      <div class="footer-section-detail"><i class="fa fa-envelope"></i> info@email.com</div>
      <br />

      <div class="row footer-social-media">
        <div class="col-md-12 col-sm-12 col-12 media-items">
          <div>
            <button class="btn btn-block btn-social"><i class="fa fa-facebook"></i></button>
            <button class="btn btn-block btn-social"><i class="fa fa-linkedin"></i></button>
            <button class="btn btn-block btn-social"><i class="fa fa-google-plus"></i></button>
            <button class="btn btn-block btn-social"><i class="fa fa-youtube"></i></button>
            <button class="btn btn-block btn-social"><i class="fa fa-twitter"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-pattern">
  <span> 2019, HomeRx, All Rights Reserved </span>
</div>
