<div class="homerx-container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="hrx-section-header"><span>HomeRx for ...</span></div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12 col-sm-12">
      <div>
          <div class="hrx-for-mlt-1">
            <p class="hrx-for-content-header">If your tenant is bachelor</p>
            <p class="hrx-for-content-desc">-It has often seen that rotation of room partners happen</p>
            <p class="hrx-for-content-desc">-Person with whom you did the agreement no longer stays, rather new person is
              staying</p>
          </div>
          <div class="hrx-for-mlt-2">
              <p class="hrx-for-content-header">If your tenant is less than 3 months old</p>
              <p class="hrx-for-content-desc">-It is important to know the life style of your tenant, as it
                directly/indirectly effects the up keeping of your property. It is required to give detail desc to your tenant
              </p>
            </div>
            <div class="hrx-for-mlt-3">
              <p class="hrx-for-content-header">If stay out of country</p>
              <p class="hrx-for-content-desc">-You need not required to rely on your family or friends for inspecting your property</p>
              <p class="hrx-for-content-desc">-Our team do exactly the same for you at fair price</p>
            </div>
            <div class="hrx-for-mlt-4">
              <p class="hrx-for-content-header">I am not able to take out time</p>
              <p class="hrx-for-content-desc">-You need not required to rely on your family or friends for inspecting your property</p>
              <p class="hrx-for-content-desc">-Our team do exactly the same for you at fair price</p>
            </div>
      </div>
      <div class="homerx-for-image-section">
        <div class="homerx-encircle">
            <img src="../../assets/hormerxforcircle.png" class="homerx-for-lc-1">
            <img src="../../assets/hormerxforcircle.png" class="homerx-for-rc-1">
            <img src="../../assets/hormerxforcircle.png" class="homerx-for-lc-2">
            <img src="../../assets/hormerxforcircle.png" class="homerx-for-rc-2">
            <img src="../../assets/hormerxforcircle.png" class="homerx-for-lc-3">
            <img src="../../assets/hormerxforcircle.png" class="homerx-for-rc-3">
            <img src="../../assets/hormerxforcircle.png" class="homerx-for-lc-4">
            <img src="../../assets/hormerxforcircle.png" class="homerx-for-rc-4">
          <img src="../../assets/homerxforcenterImg.jpg" class="homerx-for-center-image" />
          <div class="hrx-for-lt-1">
            <p class="hrx-for-content-header">If your tenant is bachelor</p>
            <p class="hrx-for-content-desc">-It has often seen that rotation of room partners happen</p>
            <p class="hrx-for-content-desc">-Person with whom you did the agreement no longer stays, rather new person is
              staying</p>
          </div>
          <div class="hrx-for-lt-2">
            <p class="hrx-for-content-header">If your tenant is less than 3 months old</p>
            <p class="hrx-for-content-desc">-It is important to know the life style of your tenant, as it
              directly/indirectly effects the up keeping of your property. It is required to give detail desc to your tenant
            </p>
          </div>
          <div class="hrx-for-lt-3">
            <p class="hrx-for-content-header">If stay out of country</p>
            <p class="hrx-for-content-desc">-You need not required to rely on your family or friends for inspecting your property</p>
            <p class="hrx-for-content-desc">-Our team do exactly the same for you at fair price</p>
          </div>
          <div class="hrx-for-lt-4">
            <p class="hrx-for-content-header">I am not able to take out time</p>
            <p class="hrx-for-content-desc">-You need not required to rely on your family or friends for inspecting your property</p>
            <p class="hrx-for-content-desc">-Our team do exactly the same for you at fair price</p>
          </div>
          <div class="hrx-for-rt-1">
            <p class="hrx-for-content-header">Tenant entry and exit inspection</p>
            <p class="hrx-for-content-desc">Whenever you are giving your flat to new tenant, it is very important that you under go inspection with your tenant.
              Signed inspection report can be used as a base at the time of tenant moving out.
            </p>
          </div>
          <div class="hrx-for-rt-2">
            <p class="hrx-for-content-header">Inspecting before purchasing property</p>
            <p class="hrx-for-content-desc">We bring you the problem with your property, which gives you fair chance to negotiate with seller</p>
          </div>
          <div class="hrx-for-rt-3">
            <p class="hrx-for-content-header">Looking property value appraisal</p>
            <p class="hrx-for-content-desc">-It is very important to have proper periodic maintenance for appreciation of your property</p>
            <p class="hrx-for-content-desc">-We do this without your involvement</p>
          </div>
          <div class="hrx-for-rt-4">
            <p class="hrx-for-content-header">If your tenant is not happy</p>
            <p class="hrx-for-content-desc">We interact with your tenat to understand what exactly is bothering them, and try to fix
              their issue by offering required house keeping services. Happy tenants stay longer</p>
          </div>
        </div>
      </div>
      <div class="hrx-for-mrt-1">
          <p class="hrx-for-content-header">Tenant entry and exit inspection</p>
          <p class="hrx-for-content-desc">Whenever you are giving your flat to new tenant, it is very important that you under go inspection with your tenant.
            Signed inspection report can be used as a base at the time of tenant moving out.
          </p>
        </div>
        <div class="hrx-for-mrt-2">
          <p class="hrx-for-content-header">Inspecting before purchasing property</p>
          <p class="hrx-for-content-desc">We bring you the problem with your property, which gives you fair chance to negotiate with seller</p>
        </div>
        <div class="hrx-for-mrt-3">
          <p class="hrx-for-content-header">Looking property value appraisal</p>
          <p class="hrx-for-content-desc">-It is very important to have proper periodic maintenance for appreciation of your property</p>
          <p class="hrx-for-content-desc">-We do this without your involvement</p>
        </div>
        <div class="hrx-for-mrt-4">
          <p class="hrx-for-content-header">If your tenant is not happy</p>
          <p class="hrx-for-content-desc">We interact with your tenat to understand what exactly is bothering them, and try to fix
            their issue by offering required house keeping services. Happy tenants stay longer</p>
        </div>
    </div>

  </div>


</div>
