<div class="homerx-container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="hrx-section-header"><span>How does it work</span></div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="hrx-section-detail">
        <span>HomeRx 4-step process is unbelievably simple, Use it to believe it.</span>
      </div>
    </div>
  </div>
  <div class="row how-works-tiles-container">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2 how-works-odd-tile">
          <div class="how-works-icon"><img src="../../assets/howitworksicon.png" /></div>
          <div class="how-works-desc">User sign up and Register the property</div>
        </div>
        <div class="col-md-2 how-works-even-tile">
          <div class="how-works-icon"><img src="../../assets/howitworksicon.png" /></div>
          <div class="how-works-desc">Select the service</div>
        </div>
        <div class="col-md-2 how-works-odd-tile">
          <div class="how-works-icon"><img src="../../assets/howitworksicon.png" /></div>
          <div class="how-works-desc">HomeRx inspects the property and send report to user</div>
        </div>
        <div class="col-md-2 how-works-even-tile">
          <div class="how-works-icon"><img src="../../assets/howitworksicon.png" /></div>
          <div class="how-works-desc">User agrees to get the repair done with HomeRx</div>
        </div>

      </div>
    </div>

  </div>
</div>
