<div class="why-home-headerbg">
  <div class="homerx-container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="hrx-section-header"><span>Why are we the right choice/Who are we</span></div>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12 col-sm-12 col-xs-12 section-detail-container">
        <div class="hrx-section-detail">
          <span>HomeRx provides sceens and demo to register a user with us and give guidance to register your property
            details and keeps it very confidential.</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="why-home-contentbg">
  <div class="homerx-container">
    <div class="row why-home-tiles-container">
      <div class="col-md-12 col-sm-12">
        <div class="row">
          <div class="col-md-2 col-sm-12 why-home-tile">
            <div class="why-home-icon"><img src="../../assets/whoAreWe-Icon.png" /></div>
            <div class="why-home-header">One stop shop</div>
            <div class="why-home-desc">Property inspection to repair and follow-ups we take care of everything -
              Repairs,
              Legal advice, Follow-up with tenant/builder
            </div>
          </div>
          <div class="col-md-2 col-sm-12 why-home-tile">
            <div class="why-home-icon"><img src="../../assets/whoAreWe-Icon.png" /></div>
            <div class="why-home-header">Digital Reports</div>
            <div class="why-home-desc">Access the reports from your Phone or Laptops
            </div>
          </div>
          <div class="col-md-2 col-sm-12 why-home-tile">
            <div class="why-home-icon"><img src="../../assets/whoAreWe-Icon.png" /></div>
            <div class="why-home-header">Local</div>
            <div class="why-home-desc">We are local Hydrabad and give personal attention when required</div>
          </div>
          <div class="col-md-2 col-sm-12 why-home-tile">
            <div class="why-home-icon"><img src="../../assets/whoAreWe-Icon.png" /></div>
            <div class="why-home-header">Fair Price</div>
            <div class="why-home-desc">We are local Hydrabad and give personal attention when required</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
