.content-area {
  padding-bottom: 50px;
}

.h-whatwedo-top {
  padding-bottom: 40px;
}

.h-whatwedo-bottom {
  margin-top: 40px;
}
.h-whatwedo-center {
  padding-top: 85px;
}
.h-whatwedo-center img {
  padding: 0px 0px 0px 30px;
  width: 400px;
}

