<div class="homerx-container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="hrx-section-header"><span>Whats the problem</span></div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="hrx-section-detail">
        <span>Home management for home owners who are either too busy or are living far away from property.</span>
      </div>
    </div>
  </div>
</div>
<div class="problem-container">
  <div class="homerx-container">
    <div class="row">
      <div class="col-md-3">
        <div class="propblem-tile">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <img src="../../assets/problem-image1.jpg" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="problem-text-section">
                <div class="problem-text-caption">Visiting property</div>
                <div class="problem-text-desc">
                  Visiting property may have some legal complecations which was
                  not discussed during initial meet. These kind of issue can be
                  sorted out in our further process.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="propblem-tile">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <img src="../../assets/problem-image2.jpg" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="problem-text-section">
                <div class="problem-text-caption">Give up your time</div>
                <div class="problem-text-desc">
                  Visiting property may have some legal complecations which was
                  not discussed during initial meet. These kind of issue can be
                  sorted out in our further process.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="propblem-tile">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <img src="../../assets/problem-image1.jpg" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="problem-text-section">
                <div class="problem-text-caption">Finding the right skill</div>
                <div class="problem-text-desc">
                  Visiting property may have some legal complecations which was
                  not discussed during initial meet. These kind of issue can be
                  sorted out in our further process.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="propblem-tile">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <img src="../../assets/problem-image2.jpg" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="problem-text-section">
                <div class="problem-text-caption">Followig up</div>
                <div class="problem-text-desc">
                  Visiting property may have some legal complecations which was
                  not discussed during initial meet. These kind of issue can be
                  sorted out in our further process.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
