.row-margin {
  margin-top: 2px;
}
.column-no-padding {
  padding-left: 0px;
  padding-right: 0px;
}
.s-layout-header {
  height: 55px;
  background-color: #ffffff;
  border-bottom: solid 1px rgb(224, 221, 221);
  z-index: 10000;
}
.s-layout-header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 4px;
  background: linear-gradient(
    180deg,
    rgba(9, 30, 66, 0.13) 0,
    rgba(9, 30, 66, 0.13) 1px,
    rgba(9, 30, 66, 0.08) 1px,
    rgba(9, 30, 66, 0) 4px
  );
}

.s-layout-toolbar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 55px);
  background-color: #ffffff;
  width: 50px;
  border-right: solid 1px #c4c8cf;
  background-color: #dbdcde;
  -webkit-box-shadow: inset 0px 2px 17px -7px rgba(196, 200, 207, 1);
  -moz-box-shadow: inset 0px 2px 17px -7px rgba(196, 200, 207, 1);
  box-shadow: inset 0px 2px 17px -7px rgba(196, 200, 207, 1);
  float: left;
}

.s-layout-toolbar div {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 10px 0px 10px 0px;
  align-items: center;
  justify-content: center;
}

.s-layout-toolbar i {
  font-size: 25px;
  color: darkslategray;
  cursor: pointer;
}

.active-toolbar-control {
  background-color: #ffffff;
  border-right: solid 4px #3999c6;
}

.comb-view i {
  font-size: 21px;
}

.s-layout-userinfo {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}
.slb-outer-wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid #a8a9b7;
  border-radius: 25px;
  max-height: 30px;
  padding: 1px 0px 2px 2px;
  cursor: pointer;
  padding-right: 25px;
  background-color: #3999c6;
}

.slb-icon,
.slb-content {
  font-size: 15px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.slb-content {
  padding: 2px 0px 0px 10px;
}
.slb-icon {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.slb-icon i {
  font-size: 25px;
}
.slb-arrow {
  margin-left: auto;
  padding-right: 10px;
  color: #585961;
  font-size: 15px;
}

.layour-title {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  align-items: center;
  justify-content: flex-start;

  font-size: 20px;
  font-weight: bold;
  color: #3999c6;
}
.layour-title img {
  height: 45px;
  width: 45px;
}
.header-info-panel {
  margin-top: 5px;
}
.header-info-panel > div {
  display: flex;
  flex-direction: column;
}
.info-header {
  margin-bottom: 0;
}
.header-info-section {
  border-right: solid 1px rgb(228, 228, 171);
}

.header-info-section label {
  font-size: 12px;
  color: #3999c6;
  font-weight: bold;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.contorl-header {
  margin-bottom: 10px;
}
.contorl-header label {
  font-size: 12px;
  color: #3999c6;
  font-weight: bold;
}

input[type="text"] {
  border: none;
  border-bottom: solid 1px black;
  background: transparent;
  min-height: 40px;
  min-width: 200px;
}
.contorl-header .input-box {
  background-color: #f0f5f5;
}

.file-upload-title {
  font-size: 25px;
  padding-bottom: 40px;
}

.file-upload-header {
  display: block;
}
.file-upload-area {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.upload-zone {
  width: 500px;
  height: 350px;
  border: solid 7px #acaeb7;
  border-radius: 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-upload {
  padding: 5px 15px;
  border: none;
  background-color: #39af47;
  color: white;
  font-size: 14px;
  border-radius: 23px;
  width: 120px;
  -webkit-box-shadow: 2px 1px 12px 0px rgba(57, 175, 71, 1);
  -moz-box-shadow: 2px 1px 12px 0px rgba(57, 175, 71, 1);
  box-shadow: 2px 1px 12px 0px rgba(57, 175, 71, 1);
}

.btn-upload i {
  font-size: 17px;
  padding-right: 5px;
}

.btn-upload span {
  font-size: 15px;
}

.upload-zone .file-detail {
  margin-bottom: 15px;
  font-size: 17px;
}

.toggle_box__background {
  display: inline-block;
  position: relative;
  background-color: #b2b2b2;
  border-radius: 20px;
  transition: background-color ease-out 0.2s;
  cursor: pointer;
}

.toggle_box__background--active {
  background-color: #0f9d58;
}

.toggle_box__checkbox {
  opacity: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.toggle_box__button {
  display: block;
  width: 18px;
  height: 18px;
  margin: 2px 24px 2px 2px;
  background-color: #fff;
  border-radius: 9px;
  transition: margin ease-out 0.2s;
}

.toggle_box {
  display: flex;
  padding: 10px 0;
  height: 42px;
}

.toggle_box__checkbox:checked + .toggle_box__button {
  margin: 2px 2px 2px 24px;
}

.drb-wrapper {
  display: flex;
  flex-direction: row;
  min-width: 200px;
  min-height: 50px;
  border-bottom: solid 1px black;
  background: #f0f5f5;
  cursor: pointer;
}
.drb-wrapper i {
  display: flex;
  align-items: center;
  color: black;
}

.drb-content {
  display: flex;
  align-items: center;
  width: 80%;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.drb-arrow {
  margin-left: auto;
  padding-right: 5px;
  color: #585961;
  font-size: 12px;
  align-items: center;
  display: flex;
}

.drb-listitems {
  border: solid 1px lightgray;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  background-color: white;
  width: 200px;
}
.drb-listitems ul {
  padding: 5px;
  padding-bottom: 0;
  margin-bottom: 2px;
}
.drb-listitems li {
  padding: 3px 0px;
}
.drb-listitems li:hover {
  background-color: rgb(238, 232, 232)
}
