<div class="s-layout-container">
  <div class="row" style="margin-right: 0;">
    <div class="col-md-12 column-no-padding">
      <div class="s-layout-header">
        <div class="row" style="margin-right: 0;">
          <div class="col-md-3 layour-title">
            <img src="../../assets/images/data-map-logo.png">
            <div><span>Data Mapper</span></div>
          </div>
          <div class="col-md-7">
            <div class="row header-info-panel">
              <div class="col-md-3 header-info-section">
                <label class="info-header">Client</label>
                <div class="info-value">Pride Management</div>
              </div>
              <div class="col-md-3 header-info-section">
                <label class="info-header">Product</label>
                <div class="info-value">Partner Acquisition</div>
              </div>
              <div class="col-md-3 header-info-section">
                <label class="info-header">Account</label>
                <div class="info-value">Marketing</div>
              </div>
            </div>
          </div>
          <div class="col-md-2 column-no-padding s-layout-userinfo">
            <div class="slb-outer-wrapper">
              <div class="slb-icon">
                <i class="fa fa-user-circle"></i>
              </div>
              <div class="slb-content">
                <span>Gnaniyar, Sainudeen</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="s-layout-toolbar">
    <div class="active-toolbar-control">
      <i class="fa fa-upload"></i>
    </div>
    <div>
      <i class="fa fa-columns"></i>
    </div>
    <div class="comb-view">
      <i class="fa fa-columns"></i><i class="fa fa-eye"></i>
    </div>
  </div>
  <div class="row row-margin">
    <div class="col-md-12 column-no-padding">
      <div class="file-upload-container">
        <div class="file-upload-title">
          <span>Upload Zone</span>
        </div>
        <div class="file-upload-area">
          <div class="upload-fields">
            <div class="contorl-header">
              <label class="info-header">Delimiter</label>
              <div class="drb-wrapper">
                <div class="drb-content"><span>Select any one</span></div>
                <div class="drb-arrow"><i class="fa fa-chevron-down"></i> </div>
              </div>
            </div>
            <div class="contorl-header">
              <label class="info-header">No. of lines per Record</label>
              <div class="input-box"><input type="text"></div>
            </div>
            <div class="contorl-header">
              <label class="info-header">Trim lines at start </label>
              <div class="input-box"><input type="text"></div>
            </div>
            <div class="contorl-header">
              <label class="info-header">Trim lines at end </label>
              <div class="input-box"><input type="text"></div>
            </div>
            <div class="contorl-header">
              <label class="info-header">Had Headers</label>
              <div class="toggle_box">
                <span class="toggle_box__background toggle_box__background--active">
                  <input type="checkbox" class="toggle_box__checkbox" name="allowAttachments" id="switchID" value="Yes">
                  <span class="toggle_box__button"></span>
                </span>
                <label for="switchID">
                  <span class="toggle_box__text"></span>
                </label>
              </div>

            </div>
          </div>
          <div class="upload-zone">
            <div class="file-detail">
              <span>SampleFileWithHeader.txt</span>
            </div>
            <div class="file-upload-button">
              <button class="btn-upload"><i class="fa fa-cloud-upload" aria-hidden="true"></i><span>Upload</span>
              </button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
